---
layout: splash
title: cPDH Resources
permalink: /resources/
isIndex: true
classes:
  - wide
  - landing
  - dark-theme
author_profile: false
---
<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
</script>

<table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-w-100%">
	<tbody>
		<tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/pdhrec_500x500.png" %}</td>
      <td class="dcf-txt-center"><a href="https://www.pdhrec.com">PDHREC</a> was founded in 2022 as a data-driven Magic: The Gathering resource for the Pauper Commander format (also known as PDH). We provide data on deck staples and other high synergy cards to help you build your next deck.</td>
    </tr>
		<tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/pdhhomebase_500x500.png" %}</td>
      <td class="dcf-txt-center"><a href="https://pdhhomebase.com/rules">PDH Home Base</a> is working towards popularizing and growing the Pauper EDH community, with the hopes of giving all players the resources they need to play this format.  This website has been created by fans, for fans.</td>
		</tr>
		<tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/hexdrinkers_500x500.png" %}</td>
      <td class="dcf-txt-center"><a href="https://hexdrinkers.com/archives/pdh/index.html">The Hexdrinkers</a> really want to focus on providing a window into how they experience Magic and how it has been an outlet of creativity for them. They found that Magic is not only a game, but a way to communicate.</td>
		</tr>
		<tr>
      <td class="dcf-txt-center">{% include image.html img="assets/images/CC Logo_500x500.png" %}</td>
      <td class="dcf-txt-center">As competitively minded players, <a href="https://www.youtube.com/channel/UCYruXl3R2VhoVOL7t9CZQsA">The Common Connoisseur's</a> community focuses is on the innovation of competitive Pauper Commander in an open, data driven environment.</td>
		</tr>
		<tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/puzzlebox_500x500.jpg" %}</td>
      <td class="dcf-txt-center"><a href="https://www.youtube.com/playlist?list=PL9XwRN2uNJy5uyh6cIQSC-uGAGtN_47nz">Puzzlebox</a> plays fighting and card games for the most part. He posts whatever is related to these topics that he takes part in at the moment.</td>
		</tr>
    <tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/CommonTheory_500x500.png" %}</td>
      <td class="dcf-txt-center"><a href="https://www.youtube.com/@commontheorycpdh">A podcast</a> about competitive PDH (pauper commander), a format focused on having any uncommon creature in the command zone and all commons in the 99 of your deck!</td>
		</tr>
		<tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/possibilitystorm_500x500.png" %}</td>
      <td class="dcf-txt-center"><a href="https://www.youtube.com/watch?v=llqvg92yVWE&list=PLUjn-JnibEQyOShnYtKUw2BisVoaEQjJ5">The Possibility Storm</a> is all you can eat cEDH gameplay, podcast discussion, and what you're really looking for...cPDH goodness!  </td>
		</tr>
		<tr>
			<td class="dcf-txt-center">{% include image.html img="assets/images/OMG_500x500.png" %}</td>
      <td class="dcf-txt-center">We are a <a href="https://www.youtube.com/watch?v=JIouJlnUQ9g&list=PLiNlthUz3YMet_PqEYyPEa2i9tD8eorWK">Gaming Channel</a> with an emphasis on the Magic the Gathering Commander format (EDH) - with some PDH. From our host Chris, you will receive game play videos, strategies for improving your knowledge of the commander format, reviews on new sets and deck building.</td>
		</tr>
    <tr>
      <td class="dcf-txt-center">{% include image.html img="assets/images/cPDH_500x500.png" %}</td>
      <td class="dcf-txt-center">What started out as a meme subreddit, created in 2015 by one savvy AF SOB, the <a href="https://www.reddit.com/r/competitivepauperedh/">cPDH Subreddit</a> has now become the new home for Competitive Pauper Commander on Reddit. </td>
		</tr>
		<tr>
      <td class="dcf-txt-center">{% include image.html img="assets/images/your-ad-here_500x500.jpg" %}</td>
			<td class="dcf-txt-center">Email Clay at gaming4tryhards@gmail.com to see your cPDH content on this page.</td>
		</tr>
	</tbody>
</table>
