<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
</script>

<style>
body {
    margin: 0;
}
.parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.parent .banner {
    background: #202424;
    width: 100%;
    height: 30px;
}
.parent iframe {
    background: #000;
    border: none;
    flex-grow: 1;
}
</style>

<div class="parent">
  <div class="banner" style="height: 55px;"><h1><center><a href="https://dyno.gg/form/7d79e41e">SUBMIT YOUR DECKLIST HERE</a></center></h1></div>
  <iframe src="https://script.google.com/macros/s/AKfycbw0X9nR2VQ8PSz7EDKN1HWOQyuP3PkxI_DZu8wlVBeYWzEnC4YHNaozzztwaJGt-rQ0/exec">
  </iframe>
</div>
