<style>
body {
    margin: 0;
}
.parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.parent .banner {
    background: #202424;
    width: 100%;
    height: 30px;
}
.parent iframe {
    background: #000;
    border: none;
    flex-grow: 1;
}
</style>

<div class="parent">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="about-content">
          <h2>Top Commanders</h2>
          <p> Gut, True Soul Zealot + Inspiring Leader --> 44% Winrate</p>
          <p> Breeches, Brazen Plunderer + Malcolm, Keen-Eyed Navigator --> 38% Winrate</p>
          <p> Dargo, the Shipwrecker + Kediss, Emberclaw Familiar --> 35% Winrate</p>
          <p> Azra Oddsmaker --> 32% Winrate</p>
          <p> Tatyova, Benthic Druid --> 30% Winrate</p>
          <p> Armix, Filigree Thrasher + Dargo, the Shipwrecker --> 29% Winrate</p>
          <p> Crackling Drake --> 29% Winrate</p>
          <p> Dargo, the Shipwrecker + Keskit, the Flesh Sculptor --> 29% Winrate</p>
          <br>
          <p>This list is manually updated the 3rd Sunday of each month. To qualify for this list, Commanders must have recorded 15 or more games in addition to having a record of 25% or better.</p>
          <p>For sample cPDH Decklists, please view the cPDH Library <a href="_pages/library.html">HERE</a>.</p>
      </div>
    </div>
</div>
</div>
