<!DOCTYPE html>
<html><head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
         body {
         background-color: #1a1d24;
         color: #eaeaea;
         font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
         }
         a {
         color: #8cd2d5;
         }
         div {
         margin: 0px 20px;
         }
      </style>
   </head>
   <body>
      <div>
        <p>For sample decklists, check out the <a href="https://cpdh.guide/library/">cPDH Library</a>.</p>
        <iframe width="700" height="460" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=1813884325&amp;format=interactive"></iframe>
        <p>To qualify for this list, Commanders must place within the top 15% of played decks that win more than average. Of all of those, the Commanders above are the Top 10 results.</p>
        <p>For more data, check out the <a href="https://cpdh.guide/metagamestats/">Metagame Stats</a>.</p>
      </div>
   
</body></html>
