<style>
body {
    margin: 0;
}
.parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.parent .banner {
    background: #202424;
    width: 100%;
    height: 30px;
}
.parent iframe {
    background: #000;
    border: none;
    flex-grow: 1;
}
</style>

<div class="parent">
  <div class="banner" style="height: 55px;"><h1><center><a href="https://dyno.gg/form/7d79e41e">SUBMIT YOUR DECKLIST HERE</a></center></h1></div>
  <iframe src="https://script.google.com/macros/s/AKfycbyjS7PNSezWr5i-yODpD1eu6YHOnxL2MThYb2RhSQLb6cWCbiQGNdaz8Fg5ECdQxXIv/exec">
  </iframe>
</div>
