<style>
body {
    margin: 0;
}
.parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.parent .banner {
    background: #202424;
    width: 100%;
    height: 30px;
}
.parent iframe {
    background: #000;
    border: none;
    flex-grow: 1;
}
</style>

<div class="parent">
  <iframe width="903" height="558" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfKDHz2Uj6aWZOZphW3KR_qzwnd7jN-rvmkhcKNccTJatiNAI07VHbsNcVXsshCcXDjAFdGKCEefKM/pubchart?oid=1645230204&amp;format=interactive">
  <div class="banner" style="height: 55px;"><h1><center>For sample cPDH Decklists, please view the cPDH Library <a href="https://dyno.gg/form/7d79e41e">HERE</a>.</center></h1></div>
  </iframe>
</div>
