<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
</script>

<div class="embed-container">
  <iframe 
          src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTrQ148SAsDvlFhcUCbDmCDv_2JqdhW3LKBtAMlz_oLJSwD8PSh1tu4DMYqiMrl-DWcnmTF6eIwcaiA/pubhtml"
               single="true&amp"
               widget="true&amp"
               headers="false"
               width="1350"
               height="3000"
              frameborder="0"
              allowfullscreen="true"
              headers=false>
  </iframe>
  </div>
