<!DOCTYPE html>
<html>
<head>
<title>Metagame Stats</title>
<style>
body {
  margin: 0;
  padding: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab {
  width: 50%;
  margin: 0 0 10px 0;
}

.embed {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .tabs {
    display: none;
  }

  .embed {
    width: 100vw;
    height: 100vh;
  }
}
</style>
</head>
<body>
<div class="tabs">
  <div class="tab">
    <h2>Metagame Stats</h2>
    <iframe class="embed" width="600" height="400" src="https://lookerstudio.google.com/s/s5AaVmAFiqg" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="tab">
    <h2>Commanders</h2>
    <iframe class="embed" width="600" height="400" src="https://lookerstudio.google.com/embed/reporting/14d15235-575f-4dca-8751-b7797598765e/page/JaCSD" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<script>
</script>
</body>
</html>
