<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #444444;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
  </script>
  
</head>
<body>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, '2023')" id="defaultOpen">2023</button>
  <button class="tablinks" onclick="openCity(event, 'All Time')">All Time</button>
</div>

<div id="2023" class="tabcontent">
  <table>
      <tbody>
        <tr>
          <th>Submit a game: <a href="https://dyno.gg/form/c87c8330" target="_blank">https://dyno.gg/form/c87c8330</a></th>
        </tr>
        <tr>
          <td rowspan="2"><iframe width="575" height="775" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=1196760428&amp;format=interactive"></iframe></td>
          <td><iframe width="575" height="380" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=731872428&amp;format=interactive"></iframe></td>
        </tr>
        <tr>
          <td><iframe width="575" height="380" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=588468970&amp;format=interactive"></iframe></td>
        </tr>
        <tr>
          <td><iframe width="575" height="380" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=581867652&amp;format=interactive"></iframe></td>
          <td><iframe width="575" height="380" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=1141135873&amp;format=interactive"></iframe></td>
        </tr>
        <tr>
          <td><iframe width="575" height="380" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=1254467827&amp;format=interactive"></iframe></td>
          <td><iframe width="575" height="380" seamless="" frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=765811708&amp;format=interactive"></iframe></td>
        </tr>
        <tr>
          <th>Join the discord: <a href="https://discord.com/invite/UtgN272kpq" target="_blank">https://discord.com/invite/UtgN272kpq</a></th>
          <th><a href="https://docs.google.com/spreadsheets/d/104YL11_o-HgKGIam7S0WPC7OaSizYGlBOpqh2LtTMCM/edit?usp=sharing" target="_blank">See the data!</a></th>
        </tr>
      </tbody>
    </table>
</div>

<div id="All Time" class="tabcontent">
  <table>
      <tr>
        <th>Submit a game: <a href="https://dyno.gg/form/c87c8330" target="_blank">https://dyno.gg/form/c87c8330</a></th>
      </tr>
      <tr>
        <td rowspan="2"><iframe width="575" height="775" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=1285201675&amp;format=interactive"></iframe></td>
        <td><iframe width="575" height="380" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=1220203623&amp;format=interactive"></iframe></td>
      </tr>
      <tr>
        <td><iframe width="575" height="380" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=2008454372&amp;format=interactive"></iframe></td>
      </tr>
      <tr>
        <td><iframe width="575" height="380" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=863842452&amp;format=interactive"></iframe></td>
        <td><iframe width="575" height="380" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=2115779897&amp;format=interactive"></iframe></td>
      </tr>
      <tr>
        <td><iframe width="575" height="380" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=99354210&amp;format=interactive"></iframe></td>
        <td><iframe width="575" height="380" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vThYJPamhVZPe03cZXTFz-dUK7Kx7tQEPc1cBx-1ITCr13vAGM7eWNz95mpwwfqh8ROVciqo-CHsmRh/pubchart?oid=917119256&amp;format=interactive"></iframe></td>
      </tr>
      <tr>
        <th>Join the discord: <a href="https://discord.com/invite/UtgN272kpq" target="_blank">https://discord.com/invite/UtgN272kpq</a></th>
        <th><a href="https://docs.google.com/spreadsheets/d/104YL11_o-HgKGIam7S0WPC7OaSizYGlBOpqh2LtTMCM/edit?usp=sharing" target="_blank">See the data!</a></th>
      </tr>
    </table> 
</div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 
