<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
</script>

<div>
  <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfKDHz2Uj6aWZOZphW3KR_qzwnd7jN-rvmkhcKNccTJatiNAI07VHbsNcVXsshCcXDjAFdGKCEefKM/pubchart?oid=1477272738&amp;format=interactive"></iframe>
    </div>

<div>
  <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfKDHz2Uj6aWZOZphW3KR_qzwnd7jN-rvmkhcKNccTJatiNAI07VHbsNcVXsshCcXDjAFdGKCEefKM/pubchart?oid=837764692&amp;format=interactive"></iframe>
    </div>
  
<div>
  <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfKDHz2Uj6aWZOZphW3KR_qzwnd7jN-rvmkhcKNccTJatiNAI07VHbsNcVXsshCcXDjAFdGKCEefKM/pubchart?oid=2003536695&amp;format=interactive"></iframe>
    </div>

<div>
  <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfKDHz2Uj6aWZOZphW3KR_qzwnd7jN-rvmkhcKNccTJatiNAI07VHbsNcVXsshCcXDjAFdGKCEefKM/pubchart?oid=1535935873&amp;format=interactive"></iframe>
  </div>

<div>
  <iframe width="600" height="2297" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTfKDHz2Uj6aWZOZphW3KR_qzwnd7jN-rvmkhcKNccTJatiNAI07VHbsNcVXsshCcXDjAFdGKCEefKM/pubchart?oid=1601171897&amp;format=interactive"></iframe>
  </div>
