<!DOCTYPE html>
<html lang="en"><head>
<title>cPDH Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background-color: #121212;
  font-family: arial, sans-serif;
}
table { 
  border-collapse: separate;
  border-spacing: 15px;
  color: #e0e0e0;

}
td, th {
  background-color: #1e1e1e;
  border: 1px solid #000000;
}
p {
  color: #e0e0e0;
  padding-left: 15px;  
}
a {
  color: #bb86fc;
}
</style>
</head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>
            <b>Submit a game:</b>
            <br>
            <a href="https://dyno.gg/form/c87c8330" target="_blank">https://dyno.gg/form/c87c8330</a>
          </th>
          <th>
            <b>Join the discord:</b>
            <br>
            <a href="https://discord.com/invite/UtgN272kpq" target="_blank">https://discord.com/invite/UtgN272kpq</a>
          </th>
          <th>
            <b>Suggest changes:</b>
            <br>
            <a href="mailto:gaming4tryhards@gmail.com" target="_blank">gaming4tryhards@gmail.com</a>
          </th>
        </tr>
        <tr>
          <td rowspan="3">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=86248471&amp;format=interactive" width="600" height="1170" frameborder="0" scrolling="no"></iframe>
          </td>
          <td>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=1191644836&amp;format=interactive" width="600" height="380" frameborder="0" scrolling="no"></iframe>
          </td>
          <td>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=2005003309&amp;format=interactive" width="600" height="380" frameborder="0" scrolling="no"></iframe>
          </td>
        </tr>
        <tr>
          <td>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=1629405652&amp;format=interactive" width="600" height="380" frameborder="0" scrolling="no"></iframe>
          </td>
          <td>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=1302083466&amp;format=interactive" width="600" height="380" frameborder="0" scrolling="no"></iframe>
          </td>
        </tr>
        <tr>
          <td>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=2059110837&amp;format=interactive" width="600" height="380" frameborder="0" scrolling="no"></iframe>
          </td>
          <td>
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSynuDCq1fvG7apdx10nQHo3j8t54famaJUCoKwTJpebE6QjcCFOTvVBidOF81bu8jM40xpV3k-O-aU/pubchart?oid=2121396214&amp;format=interactive" width="600" height="380" frameborder="0" scrolling="no"></iframe>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <b>Data analysis and data dashboard by @Bodarnn#2985</b>
    </p>
  
</body></html>
