</head>
<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
</script>

<style>
body {
    margin: 0;
}
.parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.parent .banner {
    background: #202424;
    width: 100%;
    height: 30px;
}
.parent iframe {
    background: #000;
    border: none;
    flex-grow: 1;
}
</style>

<script> 
  function moxfieldOnMessage(e){
    const t=e.data;
    if("object"==
       typeof t&&"moxfield"===t.type){
      const e=document.getElementById(t.id);e&&(e.style.height=t.data+"px")}}
  function moxfieldOnLoad(e){e.target&&e.target.contentWindow&&e.target.contentWindow.postMessage({type:"moxfield",data:e.target.id},"*")}
  window.addEventListener("message",moxfieldOnMessage); 
</script>
</head>

<div class="parent">
  <div class="banner" style="height: 55px;"></div>
   <iframe src="https://www.moxfield.com/embed/Yg0rvuin2Uyeiak1WboKJw/primer?sortBy=tags"
           id="moxfield-frame-1"
           frameBorder="0"
           onload="moxfieldOnLoad(event)">
  </iframe>
 </div>
