</head>
<!--Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8379807582901299"
     crossorigin="anonymous">
</script>

<div class="col" style="overflow-x: auto;"><div class="fw-bold mb-3">Primer</div><div class="markdown"><p></p><div class="text-center"><p></p>
<h2 id="pauper-duel-commander-tier-list">PAUPER DUEL COMMANDER TIER LIST</h2>
<p></p></div><p></p><p></p><div class="text-center">
<img class="img-fluid py-3" alt="Snuff Out" src="https://cards.scryfall.io/art_crop/front/1/8/18a3cca1-e50e-49b6-9e1a-f86640e3b177.jpg?1562379436">
</div><p></p><p></p><div class="text-center">
This is an overview of the strongest commanders for Pauper Duel Commander. PDC (also called Duel PDH) is the 1v1 version of Pauper Commander. In PDC, a player starts at 25 life and can take up to 21 commander damage from a single commander. The decks must consist of only commons with an uncommon commander. A deck must be exactly 100 cards. For more information on the rules of PDC, click HERE Currently the only card banned is Oubliette. Each commander on the list includes a sample deck list. The example decklists, while not necessarily perfect, should give you a good idea of what that archetype is able to do and what you should expect in terms of power level for each deck.
</div><p></p><p></p><div class="text-center">
The list is broken down into 4 sections. A Tier commanders are those that consistently win against most every deck in the format and who don't have a clear counter. Tier B commanders are those that are competitive against most decks in the format and should have positive win-rates in most tournaments. Tier C commanders are those that may be competitive in certain metagames, and Tier D commanders are those that some think are viable, but need more evaluation to determine their competitiveness.
</div><p></p><p></p><div class="text-center">
PDC is a high interaction format where early plays matter. Most of the decks are based on creature centric strategies so the most successful decks usually include a comprehensive suite of creature removal and/or counterspells. Decks which are overly reliant on their commander will struggle to compete unless they have a consistent way to protect it. Since board wipes are not very prevalent at a common rarity, control of the board is even more critical.
</div><p></p><details id="toc_ATierWellPositioned" open="" class="details"><summary class="details-summary"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" class="svg-inline--fa fa-caret-right me-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"></path></svg>A Tier - Well Positioned</summary><div class="details-content"><p></p><div class="text-center">
<img class="img-fluid py-3" alt="Loyal Apprentice" src="https://cards.scryfall.io/art_crop/front/d/a/dab85ca8-1ce8-43df-a6a1-00fef6b1d1c0.jpg?1631587319">
</div><p></p><p></p><div class="text-center">
<a href="/cards/Y2gOX-baleful-strix" class="deckview-primer-card">Baleful Strix</a> Example by Bitzelberg <a rel="ufc" href="https://deckstats.net/decks/136742/1495512-baleful-strix">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Loyal Apprentice</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/-XtzzpM3lUGa6p6wt00yEQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Keleth, Sunmane Familiar</a> &amp; <a href="about:blank" class="deckview-primer-card">Rograkh, Son of Rohgahh</a> Example by Danny (The Dinosaur) <a rel="ugc nofollow" href="https://tappedout.net/mtg-decks/pdc-keleth-and-rograkh/">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Plaguecrafter</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/4Eq0OAosbkKzmVzVhvF0mg">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Keleth, Sunmane Familiar</a> &amp; <a href="about:blank" class="deckview-primer-card">Esior, Wardwing Familiar</a> Example by DonMartino <a rel="ufc" href="https://www.moxfield.com/decks/YkdOTvFrEUiZvBFU_DWe_w">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Dargo, the Shipwrecker</a> &amp; <a href="about:blank" class="deckview-primer-card">Esior, Wardwing Familiar</a> Example by ieioroma <a rel="ufc" href="https://www.moxfield.com/decks/2bK0DwmXGU-ehaTn_LHLqw">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Armix, Filigree Thrasher</a> &amp; <a href="about:blank" class="deckview-primer-card">Toggo, Goblin Weaponsmith</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/P5MP0N_pSkubB9ZhsfI8yA">HERE</a>
</div><p></p></div></details><details id="toc_BTierViable" open="" class="details"><summary class="details-summary"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" class="svg-inline--fa fa-caret-right me-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"></path></svg>B Tier - Viable</summary><div class="details-content"><p></p><div class="text-center">
<img class="img-fluid py-3" alt="Azra Oddsmaker" src="https://cards.scryfall.io/art_crop/front/7/f/7f5e6a5a-18ee-438f-ab16-694e19a2410e.jpg?1562920701">
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Azra Oddsmaker</a> Example by ieioroma <a rel="ufc" href="https://www.moxfield.com/decks/yuso1FHz9k-uAJMMdP5fxQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Bloodbraid Elf</a> Example by Bitzelberg <a rel="ufc" href="https://deckstats.net/decks/136742/1846876-bloodbraid-elf">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Disciple of Deceit</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/woVDZkcoykWy69MaMIiuZQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Sedraxis Specter</a> Example by davidtran <a rel="ufc" href="https://www.moxfield.com/decks/QvbK25aNn0iVVbRr22X9kw">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Crackling Drake</a> Example by Viggianello <a rel="ufc" href="https://www.moxfield.com/decks/GSeH-bbKyEyOWJJT-aqLHg">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Dargo, the Shipwrecker</a> &amp; <a href="about:blank" class="deckview-primer-card">Rograkh, Son of Rohgah</a> Example by ieioroma <a rel="ufc" href="https://www.moxfield.com/decks/EkpFVT5MDkCfX8dPCl-9yA">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Knights of the Black Rose</a> Example by Viggianello <a rel="ufc" href="https://www.moxfield.com/decks/kMSyeiAKYUeaOalWQD8vhQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Mayhem Devil</a> Example by Zaphod <a rel="ufc" href="https://www.moxfield.com/decks/7rDYaAmqMk6ALTJiS1jh2A">HERE</a>
</div><p></p></div></details><details id="toc_CTierPossiblyViable" open="" class="details"><summary class="details-summary"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" class="svg-inline--fa fa-caret-right me-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"></path></svg>C Tier - Possibly Viable</summary><div class="details-content"><p></p><div class="text-center">
<img class="img-fluid py-3" alt="Sprite Dragon" src="https://cards.scryfall.io/art_crop/front/2/8/281f6118-adb8-4a7d-9c77-5570f3399e6e.jpg?1591228274">
</div><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Lagrella, the Magpie</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/PWp_6YbfFkmIYXpXhNl7AQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Slippery Bogle</a> Example by theEDH <a rel="ufc" href="https://www.moxfield.com/decks/ryeADmiis06_Vyk_Uz18Yg">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Sprite Dragon</a> Example by Bitzelberg <a rel="ufc" href="https://deckstats.net/decks/136742/1846880-sprite-dragon">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Ravenous Squirrel</a> Example by Bitzelberg <a rel="ufc" href="https://bit.ly/3a0hVEg">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Fynn, the Fangbearer</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/YdJ5hNM5eE2szRDPf3OsdQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Reyav, Master Smith</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/QAEzcOtxHUOZ4PYgOMUfYw">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Battlewise Hoplite</a> Example by Joel <a rel="ufc" href="https://www.moxfield.com/decks/eQvXDy0noUuE3RyUYmcxEg">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Gut, True Soul Zealot</a> &amp; <a href="about:blank" class="deckview-primer-card">Inspiring Leader</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/Iglb2P43HEWOmlBj_OaI3w">HERE</a>
</div><p></p></div></details><details id="toc_DTierUntested" open="" class="details"><summary class="details-summary"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" class="svg-inline--fa fa-caret-right me-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"></path></svg>D Tier - Untested</summary><div class="details-content"><p></p><div class="text-center">
<img class="img-fluid py-3" alt="Guttersnipe" src="https://cards.scryfall.io/art_crop/front/2/b/2bc0185e-8ba5-423c-a8aa-a55cc1f34cef.jpg?1562905261">
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Guttersnipe</a> Example by Stein <a rel="ufc" href="https://www.moxfield.com/decks/7jKbW13PzE6IXh_5ot3UUQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Aegar, the Freezing Flame</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/m_CdfRD8Jk-jSuPz6T0gGA">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Juri, Master of the Revue</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/YJ9zWPECm0KlqPvWe9_UZA">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Rilsa Rael, Kingpin</a> Example by Alkadron <a rel="ufc" href="https://www.moxfield.com/decks/yU87OhpgQUGzcrntCV5Xew">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Skyknight Vanguard</a> Example by theEDH <a rel="ufc" href="https://www.moxfield.com/decks/DjinzkuNgkGfoq2VhwNJ8w">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Hateful Eidolon</a> Example by Alkadron (Multiplayer Version) <a rel="ufc" href="https://www.moxfield.com/decks/szPrt__DrEWAmLMl79wrMw">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="/cards/Yxeon-satyr-enchanter" class="deckview-primer-card">Satyr Enchanter</a> Example by theEDH <a rel="ufc" href="https://www.moxfield.com/decks/5VnwCqSmVEyNOFM0aiPGDQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="/cards/Ylyve-blazing-specter" class="deckview-primer-card">Blazing Specter</a> Example by ZellMeg <a rel="ufc" href="https://www.moxfield.com/decks/kThYRHN3akmJ2kRYCkCN-A">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="/cards/YlxD6-hag-hedge-mage" class="deckview-primer-card">Hag Hedge-Mage</a> Example by theEDH <a rel="ufc" href="https://www.moxfield.com/decks/5VnwCqSmVEyNOFM0aiPGDQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Radiant, Serra Archangel</a> &amp; <a href="about:blank" class="deckview-primer-card">Esior, Wardwing Familiar</a> Example by oettam <a rel="ufc" href="https://www.moxfield.com/decks/MIdlgWWLXUCZow0ocrJXDQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="/cards/L42W7-cloudblazer" class="deckview-primer-card">Cloudblazer</a> Example by Manuelinho16 <a rel="ufc" href="https://www.moxfield.com/decks/x0qJw70cQEGkyCq3g0cldg">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Shanna, Sisay's Legacy</a> Example by Bitzelberg <a rel="ufc" href="https://deckstats.net/decks/136742/1598945-selesnya-tokens">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Loyal Subordinate</a> Example by Bitzelberg <a rel="ufc" href="https://deckstats.net/decks/136742/1406307-loyal-subordinate">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Armix, Filigree Thrasher</a> &amp; <a href="about:blank" class="deckview-primer-card">Esior, Wardwing Familiar</a> Needs Example List
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Tenth District Legionnaire</a> Example by Echoscorpion <a rel="ufc" href="https://www.moxfield.com/decks/qaKVVveYakm3a7rQQdQdbA">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Abdel Adrian, Gorion's Ward</a> &amp; <a href="about:blank" class="deckview-primer-card">Sword Coast Sailor</a> Example by Naptown Hustle <a rel="ufc" href="https://www.moxfield.com/decks/I5hn0kfiJkqmcqzZtIQemQ">HERE</a>
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Pteramander</a> Needs Example List
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Koll, the Forgemaster</a> Needs Example List
</div><p></p><p></p><div class="text-center">
<a href="about:blank" class="deckview-primer-card">Phalanx Leader</a> Needs Example List
</div><p></p></div></details><p></p><div class="text-center">
If you have a commander that does not appear on this list that you think should, please contact Naptown Hustle on Discord. If you are not part of the PDH Homebase discord, you can join it <a rel="ufc" href="https://discord.gg/wnHJsApvyt">here</a>.
</div><p></p></div></div>
